<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout">
<div th:fragment="content">
  <div class="w-full max-w-7xl mx-auto bg-white">
    <div class="px-6 pt-4 flex justify-end">
      <a th:href="@{/banks/new}"
         class="group inline-flex items-center gap-x-1.5 px-3 py-2 text-sm text-blue-600 font-semibold rounded-md bg-white shadow-xs border-blue-600 border hover:bg-blue-600 hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-blue-600 group-hover:text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Add</a>
    </div>
    <div class="py-4 px-6">
      <div th:if="${banks != null and #lists.isEmpty(banks)}"
           class="p-4 sm:p-6 lg:p-10 border-2 border-dashed border-gray-200 rounded-lg">
        <h2 class="text-base font-semibold text-gray-900">No banks found</h2>
        <p class="mt-1 text-sm/6 text-gray-500">Add some banks to get started.</p>
      </div>
      <div th:if="${banks != null and !#lists.isEmpty(banks)}"
           class="w-full border border-gray-200 rounded-lg overflow-x-auto">
        <table class="relative min-w-full divide-y-1 divide-gray-300">
          <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-blue-600">#</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Bank_Code</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Name</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Partnership Date</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Partner Code</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Contract Date</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Roi Min</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Roi Max</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-blue-600">Register Time</th>
            <th scope="col" class="pl-3 py-3.5 pr-4">
              <span class="sr-only">View</span>
            </th>
          </tr>
          </thead>
          <tbody class="divide-y-1 divide-gray-200">
          <tr th:each="bank : ${banks}">
            <td class="pl-4 pr-3 py-4 text-sm text-gray-600 whitespace-nowrap" th:text="${currentPage * size + bankStat.count}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${bank.bankCode}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${bank.name}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${#temporals.format(bank.partnershipDate, 'dd MMM yyyy')}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${bank.partnerCode}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${#temporals.format(bank.contractStartDate, 'dd MMM yyyy')}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${bank.roiMin}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${bank.roiMax}"></td>
            <td class="py-4 px-3 text-sm text-gray-600 whitespace-nowrap" th:text="${#temporals.format(bank.createdAt, 'dd MMM yyyy HH:mm:ss')}"></td>
            <td class="pl-3 pr-4 py-4 text-right text-sm font-medium whitespace-nowrap">
              <a th:href="@{/banks/{code}(code=${bank.bankCode})}" class="text-blue-600 hover:text-blue-800">View</a>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <div class="w-full">
          <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-4">
            <div class="flex flex-1 justify-between sm:hidden">
              <a th:href="${currentPage > 0} ? @{/banks(page=${currentPage - 1}, size=${size})} : null"
                 class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
              <a th:href="${(currentPage + 1) < totalPages} ? @{/banks(page=${currentPage + 1}, size=${size})} : null" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
            </div>
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
              <div>
                <p class="text-sm text-gray-700">
                  Showing
                  <span class="font-medium" th:text="${start}"></span>
                  to
                  <span class="font-medium" th:text="${end}"></span>
                  of
                  <span class="font-medium" th:text="${totalItems}"></span>
                  results
                </p>
              </div>
              <div>
                <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md shadow-xs">
                  <a th:href="${currentPage > 0} ? @{/banks(page=${currentPage - 1}, size=${size})} : null"
                     class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Previous</span>
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                      <path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                  </a>
                  <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:if="${i == currentPage}"
                       th:text="${i+1}"
                       aria-current="page"
                       class="relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                    </a>
                    <a th:if="${i != currentPage}"
                       th:href="@{/banks(page=${i}, size=${size})}"
                       th:text="${i+1}"
                       class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    </a>
                  </span>
                  <a th:href="${(currentPage + 1) < totalPages} ? @{/banks(page=${currentPage + 1}, size=${size})} : null"
                     class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Next</span>
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                      <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>