<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title tab logo -->
    <link rel="icon" type="image/svg+xml" th:href="@{/images/favicon-96.svg}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>CrunchFinn Admin</title>
  </head>
  <body>
    <div class="bg-white">
      <div class="relative isolate bg-linear-to-b from-blue-50/20 overflow-hidden">
        <div id="alert-success" th:if="${param.logout}" class="fixed left-1/2 transform -translate-x-1/2 top-2 z-100 max-w-4xl mx-auto">
          <div class="p-3 bg-green-600 rounded-md outline outline-green-600/20 shadow-md">
            <div class="flex">
              <div class="shrink-0">
                <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-white">
                  <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-white">Logged out successfully</p>
              </div>
              <div class="pl-3 ml-auto">
                <div class="-my-1.5 -mx-1.5">
                  <button type="button" onclick="closeAlert('alert-success')" class="p-1.5 inline-flex text-white rounded-md focus-visible:outline-none">
                    <span class="sr-only">Dismiss</span>
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                      <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="max-w-7xl mx-auto lg:grid lg:grid-cols-2">
          <div class="py-10 px-6 md:py-40 sm:px-10">
            <div class="max-w-2xl mx-auto">
              <div class="lg:max-w-lg">
                <img class="h-7 md:h-10" th:src="@{/images/logo-new.png}" alt="Crunchfinn Logo">
                <h1 class="mt-10 text-5xl sm:text-7xl font-semibold text-gray-900 text-pretty tracking-tight">
                  Welcome to <span class="text-blue-600">Crunchfinn</span> Admin Dashboard
                </h1>
              </div>
            </div>
          </div>
          <div class="py-20 px-4 md:py-40 sm:px-10 bg-blue-500">
            <div class="max-w-2xl mx-auto">
              <div class="lg:max-w-md mx-auto">
                <div class="px-6 sm:px-12 py-12 rounded-lg shadow-sm bg-white">
                  <h2 class="mb-6 text-2xl text-center font-bold text-gray-900 tracking-tight">Sign in to your account</h2>
                  <form class="space-y-6" th:action="@{/login}" th:object="${loginRequest}" method="post">
                    <div th:if="${param.error}"
                         class="text-red-700 py-2 mb-2">
                      Invalid username or password
                    </div>
                    <div>
                      <label for="username" class="block text-sm font-medium text-gray-900">Username</label>
                      <div class="mt-2">
                        <input id="username" type="text" name="username" autocomplete="username" required
                               class="w-full block py-1.5 px-3 text-base sm:text-sm text-gray-900 outline outline-gray-300 -outline-offset-1 bg-white rounded-md focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600">
                      </div>
                    </div>
                    <div>
                      <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
                      <div class="mt-2">
                        <input id="password" type="password" name="password" autocomplete="current-password" required
                               class="w-full block py-1.5 px-3 text-base sm:text-sm text-gray-900 outline outline-gray-300 -outline-offset-1 bg-white rounded-md focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600">
                      </div>
                    </div>
                    <div class="flex items-center justify-end">
                      <div class="text-sm">
                        <a href="#" class="font-semibold text-blue-600">Forgot password?</a>
                      </div>
                    </div>
                    <div>
                      <button type="submit" class="w-full py-2 px-3 flex justify-center text-sm font-semibold text-white rounded-md shadow-xs bg-blue-600 cursor-pointer hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-blue-600 focus-visible:outline-offset-2">
                        Sign in</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function closeAlert(id) {
          const el = document.getElementById(id);
          if (el) {
              el.style.display = 'none';
          }
      }
    </script>
    <script>
      setTimeout(() => {
          const alertSuccess = document.getElementById('alert-success');
          if (alertSuccess) alertSuccess.remove();
      }, 4000);
    </script>
  </body>
</html>