<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout">
<div th:fragment="content">
  <div class="w-full max-w-7xl mx-auto bg-white">
    <div class="py-4 px-6">
      <div class="p-4 sm:p-6 lg:p-10 border-2 border-dashed border-gray-200 rounded-lg">
        <h2 class="text-base font-semibold text-gray-900">Access Denied</h2>
        <p class="mt-1 text-sm/6 text-gray-500">You do not have permission to access this resource.</p>
      </div>
    </div>
  </div>
</div>
</html>