<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout">
<div th:fragment="content">
  <div class="w-full max-w-7xl mx-auto pt-10 px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row gap-6">
    <div class="shrink">
      <div class="p-6 rounded-lg shadow-sm bg-white">
        <h2 class="mb-6 text-base font-semibold text-gray-900">Settings</h2>
        <ul role="list" class="grid grid-cols-4 gap-4">
          <li class="relative col-span-1 p-3 rounded-lg hover:bg-gray-100">
            <a th:href="@{/admin/users/create}" class="text-sm text-gray-700">
              <span class="absolute inset-0"></span>
              <div class="flex justify-center items-center size-8 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 stroke-blue-600">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
              </div>
              <span>Add User</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</html>