<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout}">
<div th:fragment="content">
  <div class="w-full max-w-7xl mx-auto bg-white">
    <div th:if="${partner != null}"
         class="w-full pb-6">
      <div class="py-4 px-4 border-b border-gray-200">
        <div class="mb-1 text-sm"><span class="font-semibold text-blue-600">Partner_ID: </span><span class="text-gray-600" th:text="${partner.bankPartnerId}"></span> </div>
        <div class="flex justify-between">
          <div>
            <span class="text-sm font-semibold text-gray-900">Register Time: </span><span class="text-sm text-gray-600" th:text="${#temporals.format(partner.createdAt, 'dd MMM yyyy HH:mm:ss')}"></span>
            | <span class="text-sm font-semibold text-gray-900">Update Time: </span><span class="text-sm text-gray-600" th:text="${#temporals.format(partner.updatedAt, 'dd MMM yyyy HH:mm:ss')}"></span>
          </div>
          <div class="flex gap-x-2">
            <a th:href="@{/partners/{id}/edit(id=${partner.bankPartnerId})}">
              <div class="size-8 flex items-center justify-center bg-blue-600 rounded-md hover:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
              </div>
            </a>
            <div class="size-8 flex items-center justify-center bg-blue-600 rounded-md hover:bg-blue-500">
              <button type="button" onclick="openDeleteModal()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div id="deleteModal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/50">
          <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
            <h2 class="text-md font-semibold text-gray-900">
              Confirm Deletion
            </h2>
            <p class="mt-2 text-sm text-gray-600">
              Are you sure you want to delete this bank partner? This action cannot be undone.
            </p>
            <!-- Buttons -->
            <div class="mt-6 flex justify-end gap-3">
              <button type="button"
                      onclick="closeDeleteModal()"
                      class="px-3 py-1.5 text-sm rounded-md border border-gray-300 text-gray-700 hover:bg-gray-100">
                Cancel
              </button>
              <!-- FORM SUBMIT -->
              <form th:action="@{/partners/{id}/delete(id=${partner.bankPartnerId})}" method="post">
                <button type="submit" class="px-3 py-1.5 text-sm rounded-md bg-red-600 text-white hover:bg-red-700">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="border-b border-gray-200">
        <div class="grid grid-cols-1">
          <div class="col-span-1 border-r border-gray-200">
            <div class="grid grid-cols-1 sm:grid-cols-2">
              <div class="col-span-1">
                <div class="p-4">
                  <h3 class="text-base font-semibold text-blue-600">Bank Partner Details</h3>
                  <div class="mt-2 text-sm">
                    <div>
                      <span class="text-gray-500">Bank: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.bankName}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-span-1">
                <div class="p-4">
                  <h3 class="text-base font-semibold text-blue-600">Location Details</h3>
                  <div class="mt-2 text-sm">
                    <div>
                      <span class="text-gray-500">Address Line 1: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.addressLine1}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">Address Line 2: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.addressLine2}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">City/State: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.city}"></span>,
                      <span class="font-medium text-gray-900" th:text="${partner.stateName}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">Pincode: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.pincode}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">State Code: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.stateCode}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">GSTIN: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.gstin}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-span-1">
                <div class="p-4">
                  <h3 class="text-base font-semibold text-blue-600">Handler Details</h3>
                  <div class="mt-2 text-sm">
                    <div>
                      <span class="text-gray-500">Name: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.handlerName}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">Gender: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.handlerGender}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">Phone Number: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.handlerPhoneNumber}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-span-1">
                <div class="p-4">
                  <h3 class="text-base font-semibold text-blue-600">Email Details</h3>
                  <div class="mt-2 text-sm">
                    <div>
                      <span class="text-gray-500">Email To: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.emailTo}"></span>
                    </div>
                    <div>
                      <span class="text-gray-500">Email Cc: </span>
                      <span class="font-medium text-gray-900" th:text="${partner.emailCc}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function openDeleteModal() {
        document.getElementById('deleteModal').classList.remove('hidden');
        document.getElementById('deleteModal').classList.add('flex');
    }

    function closeDeleteModal() {
        document.getElementById('deleteModal').classList.add('hidden');
        document.getElementById('deleteModal').classList.remove('flex');
    }
  </script>
</div>
</html>